<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>NodeJS-04 - (1)</title>
</head>
<body>
    <h1>Content Server</h1>


    <audio src="static/mp4/Kalimba.mp3"
       autoplay controls muted>
    Your browser does not support the <code>audio</code> element.
    </audio><br>
    
    <img src="static/img/Chrysanthemum.jpg">
    
    <br><br>
    <a href="/ejercicie2">Next Exercise</a>


</body>
</html>