<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>NodeJS-04 - (2)</title>
</head>
<body>
    <p>Mostrar todos los numeros comprendidos entre los dos valores ingresados de uno en uno.</p>
    <form action="ejercicie2" method="POST">
        Ingrese numero inferior:
        <input type="text" name="numero1" size="10"><br>
        Ingrese numero superior:
        <input type="text" name="numero2" size="10"><br>
        <input type="submit" value="Mostrar">
    </form>
    
    <br><br>
    <a href="/ejercicie1">Preview Exercise</a>
</body>
</html>